{# templates/course/search_results.html.twig #}

<div class="row">
    {% for course in courses %}
        <div class="col-md-3 mb-4">
            <div class="card h-100 border-3" style="border-radius: 15px;">
                {% if course.image %}
                    <img src="{{ asset('uploads/images/' ~ course.image) }}" class="card-img-top" alt="{{ course.title }}" style="object-fit: cover; height: 150px; border-radius: 10%;">
                {% else %}
                    <div class="text-center" style="height: 150px; display: flex; align-items: center; justify-content: center;">
                        No Image
                    </div>
                {% endif %}
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description }}</p>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Price: {{ course.price }}</li>
                        <li class="list-group-item">Instructor: {{ course.instructorName }}</li>
                        <li class="list-group-item">Created At: {{ course.createdAt ? course.createdAt|date('Y-m-d') : '' }}</li>
                    </ul>
                </div>
                <div class="card-footer">
                    <a href="{{ path('app_course_show', {'courseId': course.courseId}) }}" class="btn btn-info btn-sm">Show</a>
                    <a href="{{ path('app_course_edit', {'courseId': course.courseId}) }}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{{ path('app_course_deleteprof', {'courseId': course.courseId}) }}" class="btn btn-info btn-sm">delete</a>
                    <a href="{{ path('app_show_reviews', {'courseId': course.courseId}) }}" class="btn btn-success btn-sm" style="width: 50px; height: 30px;">Rev</a>
                </div>
            </div>
        </div>
    {% else %}
        <div class="col-md-12">
            <p>No records found</p>
        </div>
    {% endfor %}
</div>
