{% extends 'admin/dashboard.html.twig' %}


{% block title %}Manage students{% endblock %}

{% block styles %}
    {{ parent() }} {# This will include the parent styles from the dashboard.html.twig file #}
    {# Add additional styles specific to the admin_dashboard_admins page if needed #}
{% endblock %}

{% block main %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-16 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <h2>Current Profile Picture:</h2>
                            <img src="{{ asset('uploads/' ~ student.getProfilePicture()) }}" alt="Profile Picture">
    <h1>Edit Student</h1>

    {{ include('student/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_dashboard_students') }}">back to list</a>

    {{ include('student/_delete_form.html.twig') }}


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
