{% extends 'admin/dashboard.html.twig' %}


{% block title %}Manage students{% endblock %}

{% block styles %}
    {{ parent() }} {# This will include the parent styles from the dashboard.html.twig file #}
    {# Add additional styles specific to the admin_dashboard_admins page if needed #}
{% endblock %}

{% block main %}
<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-16 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">

                            <h2>Current Profile Picture:</h2>
                            <img src="{{ asset('uploads/' ~ student.getProfilePicture()) }}" alt="Profile Picture">

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ student.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ student.username }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ student.password }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ student.email }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ student.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ student.lastName }}</td>
            </tr>
            <tr>
                <th>DateOfBirth</th>
                <td>{{ student.dateOfBirth ? student.dateOfBirth|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ student.gender }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ student.address }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ student.phoneNumber }}</td>
            </tr>
            <tr>
                <th>ProfilePicture</th>
                <td>{{ student.profilePicture }}</td>
            </tr>
            <tr>
                <th>UserType</th>
                <td>{{ student.userType }}</td>
            </tr>
            <tr>
                <th>RegistrationDate</th>
                <td>{{ student.registrationDate ? student.registrationDate|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>CurrentGradeLevel</th>
                <td>{{ student.currentGradeLevel }}</td>
            </tr>
            <tr>
                <th>Major</th>
                <td>{{ student.major }}</td>
            </tr>
            <tr>
                <th>IsActive</th>
                <td>{{ student.isActive ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>



    <a href="{{ path('admin_dashboard_students') }}">back to list</a>

    <a href="{{ path('admin_dashboard_students_edit', {'id': student.id}) }}">edit</a>

    {{ include('student/_delete_form.html.twig') }}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
