{% extends 'admin/dashboard.html.twig' %}

{% block title %}Manage admins{% endblock %}

{% block styles %}
    {{ parent() }} {# This will include the parent styles from the dashboard.html.twig file #}
    {# Add additional styles specific to the admin_dashboard_admins page if needed #}
{% endblock %}

{% block main %}


    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-16 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <form action="{{ path('admin_dashboard_admins') }}" method="get">
                                    <label>
                                        <input type="text" name="q" placeholder="Search">
                                    </label>
                                    <button type="submit">Search</button>
                                </form>
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>Email</th>
                                        <th>FirstName</th>
                                        <th>LastName</th>
                                        <th>DateOfBirth</th>
                                        <th>Gender</th>
                                        <th>Address</th>
                                        <th>PhoneNumber</th>
                                        <th>ProfilePicture</th>
                                        <th>UserType</th>
                                        <th>RegistrationDate</th>
                                        <th>IsActive</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for admin in admins %}
                                        <tr>
                                            <td>{{ admin.id }}</td>
                                            <td>{{ admin.username }}</td>
                                            <td>{{ admin.password }}</td>
                                            <td>{{ admin.email }}</td>
                                            <td>{{ admin.firstName }}</td>
                                            <td>{{ admin.lastName }}</td>
                                            <td>{{ admin.dateOfBirth ? admin.dateOfBirth|date('Y-m-d') : '' }}</td>
                                            <td>{{ admin.gender }}</td>
                                            <td>{{ admin.address }}</td>
                                            <td>{{ admin.phoneNumber }}</td>
                                            <td>{{ admin.profilePicture }}</td>
                                            <td>{{ admin.userType }}</td>
                                            <td>{{ admin.registrationDate ? admin.registrationDate|date('Y-m-d') : '' }}</td>
                                            <td>{{ admin.isActive ? 'Yes' : 'No' }}</td>
                                            <td>
                                                <a href="{{ path('admin_dashboard_admins_show', {'id': admin.id}) }}">show</a>
                                                <a href="{{ path('admin_dashboard_admins_edit', {'id': admin.id}) }}">edit</a>

                                                <form method="post" action="{{ path('admin_dashboard_admins_toggle_active', {'id': admin.id}) }}" style="display: inline;">
                                                    <button type="submit">Toggle Active</button>
                                                    <input type="hidden" name="_token" value="{{ csrf_token('toggle' ~ admin.id) }}">
                                                </form>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="15">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <a href="{{ path('admin_dashboard_admins_new') }}">Create new</a>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


{% endblock %}