{% extends 'base.html.twig' %}

{% block content %}
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>{% block title %}MySymfonyApp{% endblock %}</title>
    </head>
    <body>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card">
                    <div class="card-header">
                        <h1 class="mb-0">Edit Review</h1>
                    </div>
                    <div class="card-body">
                        {% block content_form %}
                            <form method="post" enctype="multipart/form-data" novalidate>
                                {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}

                                <div class="mb-3">
                                    {{ form_row(form.coursetitle, {'attr': {'class': 'form-control', 'placeholder': 'Course Title'}}) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_row(form.reviewername, {'attr': {'class': 'form-control', 'placeholder': 'Reviewer Name'}}) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_row(form.rating, {'attr': {'class': 'form-control', 'placeholder': 'Rating'}}) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_row(form.commenttitle, {'attr': {'class': 'form-control', 'placeholder': 'Comment Title'}}) }}
                                </div>
                                <div class="mb-3">
                                    {{ form_row(form.commentcontent, {'attr': {'class': 'form-control', 'placeholder': 'Comment Content'}}) }}
                                </div>

                                <div class="mb-3">
                                    {{ form_row(form.courseid, {'attr': {'class': 'form-control'}}) }}
                                </div>

                                <div class="mt-3 text-center">
                                    <button type="submit" class="btn btn-primary">Update Review</button>
                                </div>

                                {{ form_end(form) }}
                            </form>
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    </body>
    </html>
{% endblock %}
