{% extends 'base.html.twig' %}

{% block content %}

    {% block body %}
        <h1>Reviews</h1>

        {% if reviews is not empty %}
            {% for review in reviews %}
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Coursetitle</th>
                        <td>{{ review.coursetitle }}</td>
                    </tr>
                    <tr>
                        <th>Reviewername</th>
                        <td>{{ review.reviewername }}</td>
                    </tr>
                    <tr>
                        <th>Rating</th>
                        <td>{{ review.rating }}</td>
                    </tr>
                    <tr>
                        <th>Commenttitle</th>
                        <td>{{ review.commenttitle }}</td>
                    </tr>
                    <tr>
                        <th>Commentcontent</th>
                        <td>{{ review.commentcontent }}</td>
                    </tr>
                    <tr>
                        <th>Createdat</th>
                        <td>{{ review.createdat ? review.createdat|date('Y-m-d') : '' }}</td>
                    </tr>
                    </tbody>
                </table>

                <a href="{{ path('app_review_edit', {'reviewid': review.reviewid}) }}" class="btn btn-primary">Edit</a>
                {{ include('review/_delete_form.html.twig') }}
            {% endfor %}
        {% else %}
            <p>No reviews found for this course.</p>
        {% endif %}

        <a href="{{ path('app_review_index') }}" class="btn btn-secondary">see other reviews</a>
    {% endblock %}
{% endblock %}
