{% extends 'admin/dashboard.html.twig' %}


{% block title %}Manage instructors{% endblock %}

{% block styles %}
    {{ parent() }} {# This will include the parent styles from the dashboard.html.twig file #}
    {# Add additional styles specific to the admin_dashboard_admins page if needed #}
{% endblock %}

{% block main %}
    <div class="main-panel">
        <div class="content-wrapper">
            <div class="row">
                <div class="col-lg-16 grid-margin stretch-card">
                    <div class="card">
                        <div class="card-body">
                            <div class="table-responsive">
                                <form action="{{ path('admin_dashboard_instructors') }}" method="get">
                                    <label>
                                        <input type="text" name="q" placeholder="Search">
                                    </label>
                                    <button type="submit">Search</button>
                                </form>

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Username</th>
                                        <th>Password</th>
                                        <th>Email</th>
                                        <th>FirstName</th>
                                        <th>LastName</th>
                                        <th>DateOfBirth</th>
                                        <th>Gender</th>
                                        <th>Address</th>
                                        <th>PhoneNumber</th>
                                        <th>ProfilePicture</th>
                                        <th>UserType</th>
                                        <th>RegistrationDate</th>
                                        <th>YearsOfExperience</th>
                                        <th>Bio</th>
                                        <th>IsActive</th>
                                        <th>actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for instructor in instructors %}
                                        <tr>
                                            <td>{{ instructor.id }}</td>
                                            <td>{{ instructor.username }}</td>
                                            <td>{{ instructor.password }}</td>
                                            <td>{{ instructor.email }}</td>
                                            <td>{{ instructor.firstName }}</td>
                                            <td>{{ instructor.lastName }}</td>
                                            <td>{{ instructor.dateOfBirth ? instructor.dateOfBirth|date('Y-m-d') : '' }}</td>
                                            <td>{{ instructor.gender }}</td>
                                            <td>{{ instructor.address }}</td>
                                            <td>{{ instructor.phoneNumber }}</td>
                                            <td>{{ instructor.profilePicture }}</td>
                                            <td>{{ instructor.userType }}</td>
                                            <td>{{ instructor.registrationDate ? instructor.registrationDate|date('Y-m-d') : '' }}</td>
                                            <td>{{ instructor.yearsOfExperience }}</td>
                                            <td>{{ instructor.bio }}</td>
                                            <td>{{ instructor.isActive ? 'Yes' : 'No' }}</td>
                                            <td>
                                                <a href="{{ path('admin_dashboard_instructors_show', {'id': instructor.id}) }}">show</a>
                                                <a href="{{ path('admin_dashboard_instructors_edit', {'id': instructor.id}) }}">edit</a>
                                                <form method="post" action="{{ path('admin_dashboard_instructors_toggle_active', {'id': instructor.id}) }}" style="display: inline;">
                                                    <button type="submit">Toggle Active</button>
                                                    <input type="hidden" name="_token" value="{{ csrf_token('toggle' ~ instructor.id) }}">
                                                </form>
                                            </td>
                                        </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="17">no records found</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                    <a href="{{ path('admin_dashboard_instructors_new') }}">Create new</a>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ path('admin_dashboard_instructors_new') }}">Create new</a>
{% endblock %}