{% extends 'base.html.twig' %}

{% block title %}Add Comment{% endblock %}

{% block content %} 

<div class="form-group">
{{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}




            {{ form_row(form.content ,{ 'attr' : { 'class': 'form-control' } }) }}
            {{ form_row(form.student ,{ 'attr' : { 'class': 'form-control' } }) }}


            <br>
                       {{ form_row(form.save ,{ 'attr' : { 'class': 'btn btn-primary ' } }) }}

        </div>          {{form_end(form)}}

              </div>
                    
{% endblock %}
