 
 {% extends 'baseBack.html.twig' %}


{% block body %} 
  

<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h1 class="page-head-line">List of posts</h1>

            </div>
        </div>
        <!-- /. ROW  -->
      
    
       
          <!--   Kitchen Sink -->
            <div class="panel panel-default">
              
             
                    <div class="table-responsive ">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>title</th>
                                    <th>Content</th>
                                    <th>created at</th>
                                    <th>created at</th>

                                    <th>likes</th>
                                    <th>dislikes</th>
                                    <th>Student</th>
                                    <th>Instructor</th>
                                    <th>Action</th>



                                </tr>
                            </thead>
                            <tbody>
                                {% for p in posts %}
                                <tr>
                                    <td>{{p.title}}</td>
                                    <td>{{p.content}}</td>
                                    <td>{{p.createdAt|date}}</td>
                                    <td>{{p.updatedAt|date}}</td>
                                    <td>{{p.likes}}</td>

                                    <td>{{p.dislikes}}</td>
                                    <td>{{p.student}}</td>
                                    <td>{{p.instructor}}</td>
                                    <td><a  class="btn btn-danger" href="{{path('app_post_delete',{id:p.id})}}"> delete</a>
                                    
                                        <a  class="btn btn-info" href="{{path('app_post_edit',{id:p.id})}}"> Update</a>
                                    </td>


                                </tr>

                                {% endfor %}
                                
                                
                            </tbody>
                        </table>
                    </div>
                </div>
             <!-- End  Kitchen Sink -->
        </div>
        </div></div> 

                        {% endblock %}